body {
    margin: 0;
    color: #181818;
    background-color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    background-color: #FFF;
}

h1, footer h1 {font-size: 35px;}

header h1 {
    margin: 10px 0 3px 8vw;
    font-size: 20px;
}

header h2 {
    margin: 0 0 10px 8vw;
    font-weight: 500;
    font-size: 15px;
}

.sub-header {
    background-color: #F2F8FF;
    border-bottom: 2px dashed #c1c1c1;;
}

.flex-box {
    display: flex;
    margin: 0 10px 0px 8vw;
    padding: 40px 0;
}

form {display: inline-block}

.introduction.left-flex {
    width: 30%;
}

.left-flex {
    width: 25%;
}

.right-flex {
    width: 75%;
    text-align: center;
}

.paragraph {
    /* max-width: 950px; */
    font-size: 18px;
    line-height: 30px;
}

.image img {
    width: 38vw;
    min-width: 450px;
    height: auto;
    margin: 4vh;
    border-radius: 20px;
}

.btn-primary {
    background-color: #0c93f7;
    border: none;
    padding: 16px;
    border-radius: 42px;
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
    transition-duration: 0.4s;
}

.btn-primary:hover {
    background-color: #0862A6;
    transition: all 0.8s;
}    

.btn-secondary {
    border: 2px solid black;
    border-radius: 80px;
    color: #000;
    font-weight: 600;
    cursor: pointer;
    transition-duration: 0.4s;
    margin: 75px auto;
    width: 129px;
    height: 50px;
    display: block;
    line-height: 50px;
    text-decoration: none;
}

.btn-secondary:hover {
    background-color: #ffffffc7;
    transition: all 0.8s;
}  

.round-ctas {
    display: flex;
}

.round-ctas img {
    width: 47.43px;
    margin: 0 11px;
    cursor: pointer;
}

.linkedin-round {
    margin-left: 25px !important;
}

.gmail-round-wrap {
    cursor: pointer;
}

#emailInput {
    color: transparent;
    background: transparent;
    border: none;
    width: 1px;
    height: 1px;
    position: absolute;
    top: -5px;
}

.tooltip-email {
    position: relative;
    display: inline-block;
  }
  
.tooltip-email .tooltiptext-email {
    visibility: hidden;
    font-size: 14px;
    width: 135px;
    background-color: #FFF;
    color: #000;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 122%;
    left: 77%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0px 0px 14px 0px #a0a0a0;
}

.tooltip-email .tooltiptext-email::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 40%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #FFF transparent transparent transparent;
}

.tooltip-email:hover .tooltiptext-email {
    visibility: visible;
    opacity: 1;
}

.top-partners {
    padding: 0 10px 30px 8vw;
}

.top-partners img {
    padding: 20px;
    max-width: 100% ;
}

.top-partners .rentalcars {
    padding-left: 0;
}

.top-partners .booking, .top-partners .edreams  {
    padding-bottom: 15px;
}

.brands-work {
    font-size: 14px;
    margin: 0;
    color: #47555f;
    font-family: helvetica;
}

.white-labels-image img {
    width: 30vw;
    min-width: 300px;
    height: auto;
    margin: 3vh;
}

.example-link {
    color: #FFF;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 30px;
}

.separator {
    margin: 2px;
}

.avatar img {
    border-radius: 100%;
    width: 20vw;
    min-width: 300px;
    height: auto;
}

.case-studies, .ux-challenges {
    padding: 0 6vw;
}

.product-dev img {
    box-shadow: 0px 12px 20px 0px #00000057
}

.white-labels {
    background-color: #0d93f8;
    color: #FFF;
}

.introduction, .white-labels-text {
    margin-top: 4vw;
}

.other-skills-h1 {
    text-align: center;
    margin: 0;
    padding-top: 40px;
    color: #FFF;
}

.product-dev  {
    background-color: #0a93f8;
    color: #FFF;
    border-bottom: 2px dashed #FFF;
}

.skills-bullets {
    line-height: 200%;
}

.process  {
    background-color: #F2F8FF;
    color: #000;
    text-align: center
}

.icon {
    height: 88px;
}

.icon img {
    width: 70px;
    padding: 40px 0 25px;
}

img.build, img.deliver {
    width: 80px;
}

.case-studies .card:hover, .ux-challenges .card:hover {
    transform: scale(1.04);
    transition: all 0.2s;
}

.process .card {
    box-shadow: 4px 4px 8px 0px #bbbbbb4f;
    background: #FFF; 
    background: linear-gradient(200deg, rgba(19,170,213,0.1) 0%, rgba(139,65,249,0.1) 100%);
    border-radius: 20px;
    display: inline-block;
    width: 300px;
    height: 345px;
    margin: 25px 2%;
}


.case-studies .card {
    background: linear-gradient(200deg, rgb(213 211 247) 0%, rgb(248 221 207) 100%);
    box-shadow: 4px 4px 8px 0px #5d5d5d4f;
}

.case-studies-cards img, .ux-challenges-cards img {cursor: pointer}

.card .title {
    font-size: 25px;
    font-weight: 600;
    padding: 75px 0 0 0;
}

.card p {
    font-size: 16px;
    padding: 10px 28px 40px;
    text-align: left;
    line-height: 25px;
    height: 0px;
    
}

.new-tab{
    position: absolute;
    margin: 15px;
}

.new-tab path {
    fill: #FFF;
}

.case-studies-cards.center-box > div:nth-child(2) > a:nth-child(1) > svg > path,
.case-studies-cards.center-box > div:nth-child(3) > a:nth-child(1) > svg > path,
.ux-challenges-cards.center-box > div:nth-child(3) > a:nth-child(1) > svg > path {
    fill: #000;
}

.case-studies {
    background-color: #05a3c9a8;
    color: #002e40;
}

.case-studies .center-box {
    display: block;
}

.process .paragraph {
    margin: 32px auto;
    max-width: 600px;
}

.center-box {
    display: inline-block;
    text-align: center;
    padding: 20px 0;
}

.ux-challenges {
    text-align: center;
    background-color: #ff99009e;
}

.case-studies .card, .ux-challenges .card {
    box-shadow: 4px 4px 8px 0px #bbbbbb4f;
    background: #FFF; 
    border-radius: 20px;
    display: inline-block;
    max-width: 400px;
    height: 500px;
    margin: 25px 2%;
    transition: all 0.2s;
}

.case-studies img, .ux-challenges-cards img {
    width: 100%;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid #eaeaea;
}

.case-studies .card .title, .ux-challenges .card .title {
    padding: 35px 10px 0;
}

.ux-challenges .center-box {
    display: block;
}

.footer-content {
    display: block;
    text-align: center;
    padding-bottom: 30px;
}

.contact-ctas {
    display: flex;
}

.linkedin, .email {
    display: flex;
    width: 120px;
    height: 120px;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    transition: all 200ms cubic-bezier(.215, .61, .355, 1);
    border-radius: 20px;
}

.linkedin {
    margin-right: 20px;
}

.email {
    margin-left: 20px;
}

.footer-content p {
    font-size: 12px;
    width: 80%;
    margin: 25px auto;
}

.tooltip-wireframe, .tooltip-rc {
    visibility: hidden;
    max-width: 300px;
    background-color: white;
    color: #000;
    text-align: left;
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    z-index: 1;
    left: 64%;
    margin-left: -150px;
    margin-top: -60px;
    line-height: 20px;
    box-shadow: 1px 1px 20px #000;
}

.tooltip-wireframe:after, .tooltip-rc:after {
    content: "";
    position: absolute;
    margin-left: -5px;
    top: 100%;
    border: 10px solid #fff;
    border-color: white transparent transparent transparent;
}

.tooltip-rc:after {
    margin-left: -78px;
}

.tooltip-rc {text-align: center;}

.product-dev-image:hover .tooltip-wireframe, .white-labels-image:hover .tooltip-rc  {visibility: visible}

/* MEDIA QUERIES */
@media (max-width: 675px) {
    .case-studies .card, .ux-challenges .card {
        max-width: 320px;
    }
    .case-studies .paragraph, .ux-challenges .paragraph {
        text-align: left;
    }
}

@media (max-width: 800px) {
    .flex-box {
        display: block;
        margin: 0 5vw 0 5vw;
        padding: 10px;
    }

    .introduction.left-flex, .left-flex, .right-flex {width: 100%}
    .image img {
        min-width: 320px;
        margin: 20px 0;
    }

    .banners img {margin: 3vh auto;}

    .banners {height: inherit;}

    .avatar img {margin-top: 35px;}
    
    .top-partners {
        text-align: center;
    }

    .top-partners img {
        max-width: 80%;
    }

    .sticky-notes-wrap {text-align: center;}

    .linkedin, .email {
        width: 125px;
        height: 125px;
    }

    .spare-time .center-box {
        text-align: left;
        display: block;
        margin: 0 5vw 0 5vw;
        padding: 10px;
    }

    .process h1, .process .paragraph {
        text-align: left;
        display: block;
        margin: 0 5vw 0 5vw;
        padding: 10px;
    }

    .footer-content {
        padding: 10px;
    }
}

@media (max-width: 360px) {
    .top-partners .rentalcars {padding-left: 20px}
    .process .card {
        margin: 20px 0;
        width: 250px;
    }

    .tooltip-email .tooltiptext-email {
        left: 15%;
    }
    
    .tooltip-email .tooltiptext-email::after {
        left: 68%;
    }

    .case-studies > div > div.case-studies-text > h1,
    .ux-challenges > div.center-box > div.ux-challenges-text.ux-challenges-text > h1 {
        text-align: left;
    }
    
}

@media (max-width: 320px) {
    .image img {
        min-width: 265px;
    }

    .avatar img {
        min-width: 265px;
    }
}