body {
    margin: 0;
    color: #181818;
    background-color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    background-color: #FFF;
}

h1, footer h1 {font-size: 35px;}

header h1 {
    margin: 10px 0 3px 8vw;
    font-size: 20px;
}

header h2 {
    margin: 0 0 10px 8vw;
    font-weight: 500;
    font-size: 15px;
}

.sub-header {
    background-color: #f5f5f5;
}

.flex-box {
    display: flex;
    margin: 0 10px 0px 8vw;
    padding: 40px 0;
}

form {display: inline-block}

.left-flex {
    width: 25%;
}

.right-flex {
    width: 75%;
    text-align: center;
}

.paragraph {
    max-width: 950px;
    font-size: 18px;
    line-height: 30px;
}

.image img {
    width: 35vw;
    min-width: 450px;
    height: auto;
    margin: 4vh;
    border-radius: 20px;
}

.btn-primary {
    background-color: #0c93f7;
    border: none;
    padding: 16px;
    border-radius: 42px;
    color: #FFF;
    font-weight: 600;
    cursor: pointer;
    transition-duration: 0.4s;
    margin: 5px;
}

.btn-primary:hover {
    background-color: #0862A6;
    transition: all 0.8s;
}    

.top-partners {
    padding: 0 10px 10px 8vw;
}

.top-partners img {
    padding: 20px;
    max-width: 100% ;
}

.top-partners .rentalcars {
    padding-left: 0;
}

.top-partners .booking, .top-partners .edreams  {
    padding-bottom: 15px;
}

.white-labels-image img {
    width: 30vw;
    min-width: 300px;
    height: auto;
    margin: 3vh;
}

.widgets-image img {
    min-width: 500px;
}

.avatar img {
    border-radius: 100%;
    width: 20vw;
    min-width: 300px;
    height: auto;
}

.product-dev img {
    box-shadow: 0px 12px 20px 0px #00000057
}

.white-labels {
    background-color: #0d93f8;
    color: #FFF;
}

.introduction, .white-labels-text, .product-dev-text, .widgets-text, .banners-text {
    margin-top: 4vw;
}

.product-dev  {
    background-color: #FBB038;
    color: #FFF;
}

.process  {
    background-color: #FFF;
    color: #000;
    text-align: center
}

.icon {
    height: 88px;
}

.icon img {
    width: 70px;
    padding: 40px 0 25px;
}

img.build {
    width: 90px;
}

.process .card {
    box-shadow: 12px 12px 20px 0px #e0e0e0;
    background: #FFF; 
    background: linear-gradient(200deg, rgba(19,170,213,0.1) 0%, rgba(139,65,249,0.1) 100%);
    border-radius: 20px;
    display: inline-block;
    width: 300px;
    height: 345px;
    margin: 33px 2%;
}

.card .title {
    font-size: 25px;
    font-weight: 600;
    padding: 75px 0 0 0;
}

.card p {
    font-size: 16px;
    padding: 10px 28px 40px;
    text-align: left;
    line-height: 25px;
    height: 0px;
    
}

.banners  {
    background-color: #05447e;
    color: #FFF;
    height: 660px;
}

.banners img {
    display: block;
    width: 25vw;
    margin: 30px auto;
    box-shadow: 0px 12px 20px 0px #00000057;
    transition-duration: 0.4s;
}

.banners img:hover {
    width: 25.5vw;
    transition: all 0.1s;
    box-shadow: 0px 0px 20px 0px #ffffff50;
    cursor: pointer;
}

.spare-time   {
    background-color:#0A74C4;
    color: #FFF;
    text-align: center;
}

.spare-time img {
    width: 20vw;
    min-width: 300px;
    height: auto;
    margin: 4vh;
}

.spare-time .paragraph {
    max-width: 500px;
    font-size: 18px;
    line-height: 30px;
    margin: 32px auto;
}

.process .paragraph {
    margin: 32px auto;
    max-width: 600px;
}

.center-box {
    display: inline-block;
    text-align: center;
    padding: 20px 0;
}

.footer-content {
    display: block;
    text-align: center;
    padding-bottom: 30px;
}

.contact-ctas {
    display: flex;
}

.linkedin, .email {
    display: flex;
    width: 150px;
    height: 150px;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    transition: all 200ms cubic-bezier(.215, .61, .355, 1);
}

.linkedin:hover, .email:hover {
    border-radius: 20px;
}    

.linkedin {
    margin-right: 20px;
}

.email {
    margin-left: 20px;
}

.linkedin img {
    padding: 60px 25px;
}

.email img {
    padding: 60px;
}

.footer-content p {
    font-size: 12px;
    width: 80%;
    margin: 25px auto;
}


.modal-thai, .modal-routard {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.modal-routard {top: -73px;}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 1000px;
    box-shadow: 0 0 20px 3px #3c3a3a;
    border-radius: 10px;
}

.close_modal {
    color: #aaaaaa;
    float: right;
    top: -7px;
    position: relative;
    font-size: 28px;
    font-weight: bold;
}

.close_modal:hover,
.close_modal:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.thai-large, .routard-large {
    width: 100%;
    border-radius: 20px;
}

/* HOME MEDIA QUERIES */

@media (max-width: 800px) {
    .flex-box {
        display: block;
        margin: 0 5vw 0 5vw;
        padding: 10px;
    }

    .left-flex, .right-flex {width: 100%}
    .image img {
        min-width: 270px;
        margin: 0;
    }

    .banners img {margin: 3vh auto;}

    .banners {height: inherit;}

    .avatar img {margin-top: 35px;}
    
    .top-partners {
        text-align: center;
    }

    .top-partners img {
        max-width: 80%;
    }

    .linkedin, .email {
        width: 125px;
        height: 125px;
    }

    .spare-time .center-box {
        text-align: left;
        display: block;
        margin: 0 5vw 0 5vw;
        padding: 10px;
    }

    .process h1, .process .paragraph {
        text-align: left;
        display: block;
        margin: 0 5vw 0 5vw;
        padding: 10px;
    }


    .spare-time-image {
        text-align: center;
    }

    .spare-time .paragraph {
        max-width: 700px;
    }

    .footer-content {
        padding: 10px;
    }
}

@media (max-width: 360px) {
    .top-partners .rentalcars {padding-left: 20px}
    .process .card {
        margin: 20px 0;
        width: 250px;
    }
}



